body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 360px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.op-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.successNotification{
  color: green;
  border: 1px solid green;
  border-radius: 3px;
  width: 50%;
}

.errorNotification {
  color: red;
  border: 1px solid red;
  border-radius: 3px;
  width: 50%;
}

.operationsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.edit-form-container, .operations-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radio-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}